# Executables
*.exe
*.out
*.app

# Object Files
*.o
*.obj

# Debug Files
*.log

# VS Code
.vscode/

# Code::Blocks
bin/
obj/

# Dev-C++
*.layout

# Leaderboard Save File
scores.dat

# Temporary Files
*.tmp
